<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
		<service name="Uplink"/>
	</parent-provides>

	<service name="Audio_in">
		<default-policy> <child name="audio"/> </default-policy>
	</service>

	<service name="Audio_out">
		<default-policy> <child name="audio"/> </default-policy>
	</service>

	<service name="Play">
		<default-policy> <child name="mixer"/> </default-policy>
	</service>

	<service name="Record">
		<default-policy> <child name="mixer"/> </default-policy>
	</service>

	<start name="acpi" caps="250">
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="IO_MEM"> <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="Report"> <child name="report_rom"/> </service>
		</route>
	</start>

	<start name="report_rom" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides>
			<service name="ROM" />
			<service name="Report" />
		</provides>
		<config>
			<policy label="pci_decode -> system"    report="acpi -> acpi"/>
			<policy label="platform -> devices" report="pci_decode -> devices"/>
			<policy label="usb_hid -> report"   report="usb -> devices"/>
		</config>
		<route>
			<service name="LOG"> <parent/> </service>
			<service name="PD">  <parent/> </service>
			<service name="CPU"> <parent/> </service>
			<service name="ROM"> <parent/> </service>
		</route>
	</start>

	<start name="pci_decode" caps="100">
		<resource name="RAM" quantum="2M"/>
		<route>
			<service name="Report">             <child name="report_rom"/> </service>
			<service name="ROM" label="system"> <child name="report_rom"/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="ROM">    <parent/> </service>
		</route>
	</start>

	<start name="platform" caps="200" managing_system="yes">
		<resource name="RAM" quantum="3M"/>
		<provides>
			<service name="Platform"/>
			<service name="Acpi"/>
		</provides>
		<route>
			<service name="ROM" label="devices"> <child name="report_rom"/> </service>
			<service name="Report">  <child name="report_rom"/> </service>
			<service name="IRQ">     <parent/> </service>
			<service name="IO_MEM">  <parent/> </service>
			<service name="IO_PORT"> <parent/> </service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
			<service name="Timer">   <parent/> </service>
		</route>
		<config>
			<report devices="yes"/>
			<policy label_prefix="ps2"> <device name="ps2"/> </policy>
			<policy label_prefix="fb"  info="yes"> <pci class="VGA"/> </policy>
			<policy label_prefix="usb" info="yes"> <pci class="USB"/> </policy>
			<policy label_prefix="nic" info="yes"> <pci class="ETHERNET"/> </policy>
			<policy label_prefix="audio">
				<pci class="AUDIO"/>
				<pci class="HDAUDIO"/>
			</policy>
		</config>
	</start>

	<start name="fb" caps="120">
		<binary name="vesa_fb"/>
		<resource name="RAM" quantum="24M"/>
		<route>
			<service name="ROM" label="config"> <parent label="fb.config"/> </service>
			<service name="Platform"> <child name="platform"/> </service>
			<service name="IO_PORT">  <parent/> </service>
			<service name="IO_MEM">   <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Capture">  <parent/> </service>
			<service name="Report">   <child name="report_rom"/> </service>
		</route>
	</start>

	<start name="ps2" caps="80">
		<resource name="RAM" quantum="1280K"/>
		<config/>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<service name="Event"> <child name="event_filter" label="ps2"/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
		</route>
	</start>

	<start name="usb" caps="150">
		<binary name="pc_usb_host"/>
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Usb"/> </provides>
		<config>
			<report devices="yes"/>
			<policy label_prefix="usb_hid"><device class="0x3"/></policy>
		</config>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<service name="Report" label="devices"> <child name="report_rom"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>

	<start name="usb_hid" caps="140">
		<resource name="RAM" quantum="10M"/>
		<config use_report="yes"/>
		<route>
			<service name="ROM" label="report"> <child name="report_rom"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Event"> <child name="event_filter" label="usb"/> </service>
			<service name="Usb">   <child name="usb"/> </service>
		</route>
	</start>

	<start name="event_filter" caps="90">
		<resource name="RAM" quantum="1280K"/>
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="event_filter.config"/> </service>
			<service name="Event"> <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>

	<start name="nic" caps="200">
		<binary name="pc_nic"/>
		<resource name="RAM" quantum="8M"/>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Uplink">   <parent/> </service>
		</route>
	</start>

	<start name="mixer" ram="2M" caps="200">
		<binary name="record_play_mixer"/>
		<provides> <service name="Record"/> <service name="Play"/> </provides>
		<config jitter_ms="10">
			<mix name="left">
				<!-- default rule -->
				<play label_suffix=" -> left" volume="0.7"/>
			</mix>
			<mix name="right">
				<!-- default rule -->
				<play label_suffix=" -> right" volume="0.7"/>
			</mix>

			<mix name="mic_left">  <play label="audio -> mic_left"/>  </mix>
			<mix name="mic_right"> <play label="audio -> mic_right"/> </mix>

			<!-- audio driver that wants to play back -->
			<policy label="audio -> left"   record="left"  period_ms="12" jitter_ms="5" volume="1.0"/>
			<policy label="audio -> right"  record="right" period_ms="12" jitter_ms="5" volume="1.0"/>

			<!-- default rule for clients that want to record from the microphone -->
			<policy label_suffix="left"  record="mic_left"  period_ms="12" jitter_ms="5" volume="1.0"/>
			<policy label_suffix="right" record="mic_right" period_ms="12" jitter_ms="5" volume="1.0"/>
		</config>
		<route>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Report"> <child name="report_rom"/> </service>
			<service name="Timer">  <parent/> </service>
		</route>
	</start>

	<start name="audio" caps="150">
		<binary name="pci_audio"/>
		<resource name="RAM" quantum="9M"/>
		<provides>
			<service name="Audio_out"/>
			<service name="Audio_in"/>
		</provides>
		<config record_play="yes">
			<mixer field="outputs.master" value="128"/>
			<mixer field="outputs.mute" value="off"/>
			<mixer field="record.enable" value="on"/>
			<mixer field="record.mute" value="off"/>
			<mixer field="record.volume" value="255"/>
			<mixer field="inputs.mic" value="128"/>
		</config>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<service name="Play"> <child name="mixer"/> </service>
			<service name="Record"> <child name="mixer"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
