<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
		<service name="Uplink"/>
	</parent-provides>

	<service name="Audio_in">
		<default-policy> <child name="audio"/> </default-policy>
	</service>

	<service name="Audio_out">
		<default-policy> <child name="audio"/> </default-policy>
	</service>

	<service name="Play">
		<default-policy> <child name="audio"/> </default-policy>
	</service>

	<service name="Record">
		<default-policy> <child name="audio"/> </default-policy>
	</service>

	<start name="fb_sdl" caps="100" ld="no">
		<resource name="RAM" quantum="10M"/>
		<config ld_verbose="yes"/>
		<route>
			<service name="Event"> <child name="event_filter" label="sdl"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="event_filter" caps="80">
		<resource name="RAM" quantum="1280K"/>
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="event_filter.config"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Event"> <parent/> </service>
		</route>
	</start>

	<start name="nic" caps="100" ld="no">
		<binary name="linux_nic"/>
		<resource name="RAM" quantum="4M"/>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="audio" caps="100">
		<binary name="black_hole"/>
		<resource name="RAM" quantum="1M"/>
		<provides>
			<service name="Audio_in"/>
			<service name="Audio_out"/>
			<service name="Play"/>
			<service name="Record"/>
		</provides>
		<config>
			<audio_in/>
			<audio_out/>
			<play/>
			<record/>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

</config>
